.CarouselArea {
    margin-top: 1em;
    margin-bottom: 2em;
}

.item img {
    height: 450px !important;
    width: 850px !important;
}

@media (min-width: 576px) {
    .card-columns {
        column-count: 6;
    }
}

@media (min-width: 768px) {
    .card-columns {
        column-count: 6;
    }
}

@media (min-width: 992px) {
    .card-columns {
        column-count: 6;
    }
}

@media (min-width: 1200px) {
    .card-columns {
        column-count: 6;
    }
}

.ProductOpsRow {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 1em;
}

.ProductOpsRow > .ProductOpsSubRow {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.ProductOpsCol {
    margin-left: 1em;
}

.FilterSelecter {
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.ProductItemRow {
    display: flex;
    flex-wrap: wrap;
}

.ProductItemRow > .ProductItem {
    margin: 1em;
    border: 1px solid;
    flex-shrink: 0;
    flex-basis: 200px;
}

.ProductItem > .ProductImag {

}

.ProductItem > .ProductName {
    padding-top: 5px;
    padding-bottom: 5px;
}

.ProductItem > .ProductPrice {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 1.5em;
    font-weight: bold;
}

.ProductItem > .ProductOrder {
    padding-top: 5px;
    padding-bottom: 10px;
}

