.CarouselArea {
    margin-top: 1em;
    margin-bottom: 2em;
}

.item img {
    height: 450px !important;
    width: 850px !important;
}

@media (min-width: 576px) {
    .card-columns {
        column-count: 6;
    }
}

@media (min-width: 768px) {
    .card-columns {
        column-count: 6;
    }
}

@media (min-width: 992px) {
    .card-columns {
        column-count: 6;
    }
}

@media (min-width: 1200px) {
    .card-columns {
        column-count: 6;
    }
}

.ProductCategoryRow {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-top: 1em;
    margin-bottom: 1em;
}

.ProductFilterRow {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.ProductFilterRow .FilterSelecter {
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.ProductFilterRow .ProductIndex {
    margin-right: 1em;
}

.ProductItem {
    padding-bottom: 2em;
}

.ProductItem .ProductImag {

}

.ProductItem .ProductName {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 1.5em;
    font-weight: bold;
}

.ProductItem .ProductPrice {
    padding-top: 5px;
    padding-bottom: 8px;
    font-size: 1em;
}
