.CarouselArea {
    margin-top: 1em;
    margin-bottom: 1em;
}

.item img {
    height: 450px !important;
    width: 850px !important;
}

.CategoryImag {
    width: 10em;
}

@media (min-width: 576px) {
    .card-columns {
        column-count: 6;
    }
}

@media (min-width: 768px) {
    .card-columns {
        column-count: 6;
    }
}

@media (min-width: 992px) {
    .card-columns {
        column-count: 6;
    }
}

@media (min-width: 1200px) {
    .card-columns {
        column-count: 6;
    }
}