@page
@model QualitySouvenirs.Areas.Identity.Pages.Account.Manage.Suppliers.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Identity/Pages/Account/Manage/_Layout.cshtml";
}

<h2>Create</h2>

<h4>Supplier</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Supplier.Name" class="control-label"></label>
                <input asp-for="Supplier.Name" class="form-control" />
                <span asp-validation-for="Supplier.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Supplier.WorkPhoneNumber" class="control-label"></label>
                <input asp-for="Supplier.WorkPhoneNumber" class="form-control" />
                <span asp-validation-for="Supplier.WorkPhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Supplier.Email" class="control-label"></label>
                <input asp-for="Supplier.Email" class="form-control" />
                <span asp-validation-for="Supplier.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Supplier.Address" class="control-label"></label>
                <input asp-for="Supplier.Address" class="form-control" />
                <span asp-validation-for="Supplier.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

