@{
    ViewData["Title"] = "About";
}




<head>
    <style>
        .photo img {
            float: right;
            width: 650px;
            height: 300px
        }

        .intro {
            float: left;
            width: 30%;
        }
    </style>
    <link href="~/css/about.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <br />
    <br />
    <br />
    <br />
    <br />




    <div>
        <div class="photo"><img src="~/images/about/about1.jpg"></div>
        <div class="intro">
            <h1><strong>Who we are</strong></h1>
            <div class="blurb">
                <font size="4">
                    We are the best in this field.We have distinctive products and enthusiastic service.As always to provide you with high-grade, luxury services,
                    <strong>the more we do, the more happy you will obtain</strong>
                    The website likes our motivation, and why we do what we do.
                </font>
            </div>

            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />

        </div>
    </div>




    <HR style=" FILTER: progid:DXImageTransform.Microsoft.Glow ( color= #97b162 ,strength = 10) " width="95%" color=#97b162 cb9 SIZE=1>


    <div class=" container-wider">
        <div class="leadership-section">
            <h1><strong>Meet our leadership team</strong></h1>
            <div class="leadership-team">
                <div class="columns">
                    <div class="column is-4">
                        <div class="content">
                            <div class="headshot relative">
                                <span data-picture="img"
                                      data-src="https://d3ui957tjb5bqd.cloudfront.net/images/1/about/img-winn.png?v2"
                                      data-src-retina="https://d3ui957tjb5bqd.cloudfront.net/images/1/about/img-winn@2x.png?v2"
                                      data-alt="Chris Headshot" data-loaded="">
                                    <noscript>
                                        <img src="https://d3ui957tjb5bqd.cloudfront.net/images/1/about/img-winn.png?v2"
                                             alt="Chris&amp;#x20;Headshot">
                                    </noscript> <img alt="Chris Headshot"
                                                     src="https://d3ui957tjb5bqd.cloudfront.net/images/1/about/img-winn.png?v2">
                                </span>
                                <div class="details background-two">
                                    <p class="name">Chris Winn</p>
                                    <p class="title">Chief Executive Officer</p> <i class="bio-arrow"></i>
                                    <hr>
                                    <div class="bio">
                                        <p>
                                            As CEO, Chris is responsible for team management mission
                                            and values.
                                        </p> <br>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column is-4">
                        <div class="content">
                            <div class="headshot relative">
                                <span data-picture="img"
                                      data-src="https://d3ui957tjb5bqd.cloudfront.net/images/1/about/img-priya.png?v2"
                                      data-src-retina="https://d3ui957tjb5bqd.cloudfront.net/images/1/about/img-priya@2x.png?v2"
                                      data-alt="Priya Headshot" data-loaded="">
                                    <noscript>
                                        <img src="https://d3ui957tjb5bqd.cloudfront.net/images/1/about/img-priya.png?v2"
                                             alt="Priya&amp;#x20;Headshot">
                                    </noscript> <img alt="Priya Headshot"
                                                     src="https://d3ui957tjb5bqd.cloudfront.net/images/1/about/img-priya.png?v2">
                                </span>
                                <div class="details background-three">
                                    <p class="name">Priya Kothari</p>
                                    <p class="title">Sales Manager</p> <i class="bio-arrow"></i>
                                    <hr>
                                    <div class="bio">
                                        <p>
                                            Priya has more than a decade of experience in sales management which is friendly to people.
                                        </p> <br>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column is-4">
                        <div class="content">
                            <div class="headshot relative">
                                <span data-picture="img"
                                      data-src="https://d3ui957tjb5bqd.cloudfront.net/images/1/about/img-paul.png?v2"
                                      data-src-retina="https://d3ui957tjb5bqd.cloudfront.net/images/1/about/img-paul@2x.png?v2"
                                      data-alt="Paul Headshot" data-loaded="">
                                    <noscript>
                                        <img src="https://d3ui957tjb5bqd.cloudfront.net/images/1/about/img-paul.png?v2"
                                             alt="Paul&amp;#x20;Headshot">
                                    </noscript> <img alt="Paul Headshot"
                                                     src="https://d3ui957tjb5bqd.cloudfront.net/images/1/about/img-paul.png?v2">
                                </span>
                                <div class="details background-six">
                                    <p class="name">Paul Ghio</p>
                                    <p class="title">Product Designer</p> <i class="bio-arrow"></i>
                                    <hr>
                                    <div class="bio">
                                        <p>
                                            He designed thousands of unique products that have received positive feedback from consumers.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <HR style=" FILTER: progid:DXImageTransform.Microsoft.Glow ( color= #97b162 ,strength = 10) " width="95%" color=#97b162 cb9 SIZE=1>

        <div class="growing-startup">
            <div class="columns">
                <div class="column is-7">
                    <div class="vertically-centered">
                        <div class="join-cta">
                            <h1><strong>Join our growing startup!</strong></h1>
                            <div class="blurb">
                                <p>
                                    We are always looking for amazing people to join the
                                    Creative Market team. We value our culture as much as we value our mission.
                                    So if <strong>helping creators turn passion into opportunity</strong> sounds
                                    like something you would love to do with a group of folks who feel the same way,
                                    then check out our job openings and apply today!
                                </p>
                            </div>
                            <div>
                                <a href="/careers"
                                   class="btn btn-centered btn-outline btn-large btn-green">
                                    Explore job
                                    openings
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column is-5">
                    <div class="vertically-centered">
                        <div class="growing-illo">
                            <span data-picture="img"
                                  data-src="https://d3ui957tjb5bqd.cloudfront.net/images/1/about/growing-illo.png?v2"
                                  data-src-retina="https://d3ui957tjb5bqd.cloudfront.net/images/1/about/growing-illo@2x.png?v2"
                                  data-alt="Join Hero" data-loaded="">
                                <noscript>
                                    <img src="https://d3ui957tjb5bqd.cloudfront.net/images/1/about/growing-illo.png?v2"
                                         alt="Join&amp;#x20;Hero">
                                </noscript> <img alt="Join Hero"
                                                 src="https://d3ui957tjb5bqd.cloudfront.net/images/1/about/growing-illo.png?v2">
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

