@{
    ViewData["Title"] = "Contact Us";
}
<h2>@ViewData["Title"]</h2>


<style>
    #map {
        height: 400px;
        width: auto;
    }
</style>
<div class="row">
    <div id="map"></div>
    <script>
        var map;
        function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
                center: { lat: -36.87967209686738, lng: 174.7068214416504 },
                zoom: 15
            });
            // Add marker
            var marker = new google.maps.Marker({
                position: { lat: -36.87967209686738, lng: 174.7068214416504  },
                map: map
            });
        }

    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAFyDYFSffqTsmYyt1Gor99wcjdSCHMQgI&callback=initMap">
    </script>
</div>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
